Repository COUniv/COUDeploy, pull requests merged in 2022-11, with the labels that each got.

#84 MyPage responsive-page task
  data/backend/public/banner/defaultBANNER.png
  docker-compose.yml
  frontend/src/pages/oj/views/setting/Settings.vue
  frontend/src/pages/oj/views/setting/children/AccountSetting.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/pages/oj/views/user/Grass.vue
Labels: front

#85 Contest page details final
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/children/ACMHelper.vue
  frontend/src/pages/oj/views/contest/children/ContestProblemList.vue
  frontend/src/pages/oj/views/general/Announcements.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/setting/children/AccountSetting.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/src/pages/oj/views/user/UserHome.vue
  frontend/src/styles/iview-custom.less
Labels: enhancement, front

#86 option 및 기타 디테일 수정
  backend/account/templates/auth_token_email.html
  backend/account/templates/reset_password_email.html
  backend/account/views/oj.py
  backend/options/options.py
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/oj/views/help/Languages.vue
  frontend/src/pages/oj/views/user/ApplyResetPassword.vue
Labels: bug, front, back

#87 Grass graph (2022 only)
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/pages/oj/views/user/Grass.vue
  frontend/src/utils/time.js
Labels: enhancement, front

#88 grass year select
  frontend/src/pages/oj/views/user/Grass.vue
Labels: enhancement, front

#89 change default font color
  frontend/src/styles/common.less
Labels: front

#92 메인페이지 공지사항 Toggle bug fix (반응형 포함)
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/store/index.js
  frontend/src/store/modules/announcement.js
Labels: bug, front

#94 코드 길이 추가 및 부분 디테일 수정
  backend/account/views/oj.py
  backend/submission/migrations/0013_submission_byte_length.py
  backend/submission/models.py
  backend/submission/views/oj.py
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/article/ArticleList.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/submission/SubmissionDetails.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/src/pages/oj/views/user/GeneralChart.vue
  frontend/src/pages/oj/views/user/UserHome.vue
Labels: bug, enhancement, front, back

#95 레이팅 시스템 전환 및 기타 가시성 변경
  backend/account/migrations/0016_auto_20221121_0958.py
  backend/account/models.py
  backend/account/urls/oj.py
  backend/account/views/admin.py
  backend/account/views/oj.py
  backend/judge/dispatcher.py
  backend/problem/views/admin.py
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.html
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/rank/ACMRank.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/styles/markdown.less
Labels: bug, enhancement, front, back
