Repository COUniv/COUDeploy, pull requests merged in 2022-08, with the labels that each got.

#32 Community-page-revert
  docker-compose.yml
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.html
  frontend/src/pages/oj/views/article/ArticleList.vue
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/styles/common.less
  frontend/src/styles/iview-custom.less
Labels: front

#35 navigation guard 를 이용한 login route 수정
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/user/Register.vue
Labels: bug, documentation, front

#36 Narbar 수정
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/styles/iview-custom.less
Labels: front

#37 [feature] admin page 권한 및 user 생성 변경
  backend/account/serializers.py
  backend/account/views/admin.py
  frontend/src/i18n/admin/ko-KR.js
  frontend/src/pages/admin/index.html
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/oj/index.html
  frontend/src/pages/oj/views/article/ArticleList.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/static/favicon.png
Labels: documentation, enhancement, front, back, javascript, python

#40 공지사항 관련 라우터 및 스크립트 수정
  frontend/src/pages/admin/views/general/Announcement.vue
  frontend/src/pages/oj/views/general/AnnouncementList.vue
  frontend/src/pages/oj/views/general/Announcements.vue
Labels: bug, enhancement, front

#41 Feature/problem category
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
Labels: front

#42 이메일 인증 구현 및 재구성
  backend/account/templates/auth_token_email.html
  backend/account/views/oj.py
  backend/emailauthentication/__init__.py
  backend/emailauthentication/migrations/__init__.py
  backend/emailauthentication/models.py
  backend/emailauthentication/serializers.py
  backend/emailauthentication/templates/auth_token_email.html
  backend/emailauthentication/tests.py
  backend/emailauthentication/urls/__init__.py
  backend/emailauthentication/urls/admin.py
  backend/emailauthentication/urls/oj.py
  backend/emailauthentication/views/__init__.py
  backend/emailauthentication/views/admin.py
  backend/emailauthentication/views/oj.py
  backend/oj/settings.py
  backend/oj/urls.py
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/preHome/Join.vue
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/pages/oj/views/setting/children/AccountSetting.vue
  frontend/src/pages/oj/views/user/ApplyVerifyEmail.vue
  frontend/src/pages/oj/views/user/Register.vue
  frontend/src/pages/oj/views/user/VerifyEmail.vue
  frontend/src/store/index.js
Labels: documentation, enhancement, front, back

#44 Article-List and Community-Page changes
  backend/problem/models.py
  backend/problem/serializers.py
  backend/problem/views/oj.py
  frontend/src/pages/admin/App.vue
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/components/Panel.vue
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/article/ArticleList.vue
  frontend/src/pages/oj/views/general/Announcements.vue
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/pages/oj/views/problem/CategoryList.vue
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
  frontend/src/styles/common.less
  frontend/src/styles/iview-custom.less
Labels: bug, front

#47 changed Problem Page
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/help/Languages.vue
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/setting/children/AccountArticleList.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
Labels: enhancement, front

#48 Change ProfileSetting Modal and link Profile
  backend/account/serializers.py
  backend/account/views/oj.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/views/setting/children/ProfileSetting.vue
  frontend/src/styles/common.less
Labels: documentation, enhancement, front

#50 navigation-bar 및 요청한 bug fix
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
  frontend/src/styles/common.less
  frontend/src/styles/iview-custom.less
Labels: bug, documentation, enhancement, front

#51 Problem-page
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/views/problem/CategoryList.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/styles/common.less
  frontend/src/styles/iview-custom.less
Labels: enhancement, front

#53 KDY - problem-submission-page | 그 외 세부 디자인 수정 | 충돌수정
  frontend/src/assets/trophy.png
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/styles/iview-custom.less
Labels: front

#54 Hotfix : 기본적인 에러 및 로직 수정
  backend/account/views/admin.py
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/CategoryList.vue
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/pages/oj/views/setting/children/ProfileSetting.vue
Labels: bug, documentation, front, back

#56 Ranking-page
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/rank/ACMRank.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/src/styles/iview-custom.less
Labels: enhancement, front

#57 feature/account and submission
  backend/account/migrations/0015_user_last_activity.py
  backend/account/models.py
  backend/account/serializers.py
  backend/account/urls/oj.py
  backend/account/views/oj.py
  backend/submission/serializers.py
  backend/submission/urls/oj.py
  backend/submission/views/oj.py
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/router/index.js
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/help/Languages.vue
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/problem/ProblemCategory.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
Labels: bug, documentation, enhancement, front, back
