Repository COUniv/COUDeploy, pull requests merged in 2022-09, with the labels that each got.

#69 Bug fixes
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/router/index.js
  frontend/src/pages/oj/views/article/Notification.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/setting/Settings.vue
  frontend/src/pages/oj/views/user/UserHome.vue
Labels: bug, front

#70 contest img 및 부분 버그 fix
  .gitignore
  backend/account/decorators.py
  backend/account/models.py
  backend/account/views/oj.py
  backend/article/migrations/0002_comment_avatar.py
  backend/article/models.py
  backend/article/views/oj.py
  backend/conf/models.py
  backend/conf/views.py
  backend/contest/migrations/0011_contest_contest_title_img.py
  backend/contest/models.py
  backend/contest/serializers.py
  backend/contest/urls/admin.py
  backend/contest/views/admin.py
  backend/data/config/.gitkeep
  backend/data/log/.gitkeep
  backend/data/public/avatar/default.png
  backend/data/public/contestimgs/default.png
  backend/data/public/upload/.gitkeep
  backend/data/public/website/favicon.ico
  backend/data/public/website/favicon.png
  backend/data/ssl/.gitkeep
  backend/data/test_case/.gitkeep
  backend/deploy/entrypoint.sh
  backend/emailauthentication/urls/admin.py
  backend/judge/dispatcher.py
  backend/judge/languages.py
  backend/oj/settings.py
  backend/options/options.py
  backend/problem/views/oj.py
  backend/submission/models.py
  backend/submission/views/oj.py
  backend/utils/api/api.py
  backend/utils/captcha/__init__.py
  backend/utils/shortcuts.py
  backend/utils/throttling.py
  data/backend/public/contestimgs/default.png
  frontend/src/pages/admin/router.js
  frontend/src/pages/admin/views/contest/ContestImg.vue
  frontend/src/pages/admin/views/contest/ContestList.vue
  frontend/src/pages/admin/views/index.js
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/setting/Settings.vue
  frontend/src/pages/oj/views/setting/children/ProfileSetting.vue
  frontend/src/styles/common.less
Labels: bug, documentation, enhancement, front, back

#72 Feature/71 add new problem difficulty
  backend/problem/models.py
  backend/utils/constants.py
  backend/utils/migrate_data.py
  frontend/src/i18n/admin/en-US.js
  frontend/src/i18n/admin/ko-KR.js
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
Labels: enhancement

#77 Feature/73 feature request add comment tag href tag
  backend/article/models.py
  backend/article/views/oj.py
  frontend/src/pages/oj/components/BlockedCursorCodeMirror.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/router/index.js
  frontend/src/pages/oj/views/article/ArticleDetails.vue
Labels: enhancement

#76 MyPage + Bug Fix
  frontend/src/i18n/oj/ko-KR.js
  frontend/src/pages/oj/components/SubmitCodeMirror.vue
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/setting/Settings.vue
  frontend/src/pages/oj/views/setting/children/AccountSetting.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/pages/oj/views/setting/children/ProfileSetting.vue
  frontend/src/styles/iview-custom.less
Labels: enhancement, front

#78 Deveop/kdg
  backend/article/models.py
  backend/article/views/oj.py
  backend/problem/models.py
  backend/problem/views/admin.py
  backend/utils/constants.py
  backend/utils/migrate_data.py
  frontend/src/i18n/admin/en-US.js
  frontend/src/i18n/admin/ko-KR.js
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/oj/components/BlockedCursorCodeMirror.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/router/index.js
  frontend/src/pages/oj/views/article/ArticleDetails.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
Labels: bug, enhancement, front, back, dependencies
