Repository COUniv/COUDeploy, pull requests merged in 2022-10, with the labels that each got.

#80 Bug fixes
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/setting/children/AccountSetting.vue
  frontend/src/pages/oj/views/setting/children/ProfileSetting.vue
Labels: bug, front

#81 Deveop/kdy 반응형 화면 너비 최적화 작업1
  .github/ISSUE_TEMPLATE/feature_request.md
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/components/NavBar.vue
  frontend/src/pages/oj/index.html
  frontend/src/pages/oj/views/article/ArticleList.vue
  frontend/src/pages/oj/views/article/CreateArticle.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/preHome/Join.vue
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/pages/oj/views/problem/CategoryList.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/src/styles/common.less
Labels: front

#82 Feature/banner manage 배너 이미지 관리 APP
  backend/banner/__init__.py
  backend/banner/migrations/__init__.py
  backend/banner/models.py
  backend/banner/serializers.py
  backend/banner/templates/uploadimg.html
  backend/banner/tests.py
  backend/banner/urls/__init__.py
  backend/banner/urls/admin.py
  backend/banner/urls/oj.py
  backend/banner/views/__init__.py
  backend/banner/views/admin.py
  backend/banner/views/oj.py
  backend/oj/settings.py
  backend/oj/urls.py
  data/backend/public/banner/defaultBANNER.png
Labels: back, python
