Repository COUniv/COUDeploy, pull requests merged in 2023-01, with the labels that each got.

#99 Auto Save
  Wiki/frontend/README.md
  backend/account/views/admin.py
  backend/draftcode/__init__.py
  backend/draftcode/migrations/0001_initial.py
  backend/draftcode/migrations/0002_auto_20230106_1206.py
  backend/draftcode/migrations/__init__.py
  backend/draftcode/models.py
  backend/draftcode/serializers.py
  backend/draftcode/tests.py
  backend/draftcode/urls/__init__.py
  backend/draftcode/urls/admin.py
  backend/draftcode/urls/oj.py
  backend/draftcode/views/__init__.py
  backend/draftcode/views/admin.py
  backend/draftcode/views/oj.py
  backend/oj/settings.py
  backend/oj/urls.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/views/article/Notification.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/preHome/Join.vue
  frontend/src/pages/oj/views/preHome/Start_Login.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/setting/children/AccountArticleList.vue
  frontend/src/pages/oj/views/setting/children/MyPage.vue
  frontend/src/pages/oj/views/submission/SubmissionDetails.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
  frontend/src/pages/oj/views/user/Grass.vue
  frontend/src/pages/oj/views/user/Register.vue
Labels: bug, enhancement, front, back

#100 Deveop/kdy 메인페이지 배너 크기 변경
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/styles/common.less
Labels: front

#101 renewal contest ranking page
  backend/contest/views/oj.py
  backend/problem/serializers.py
  backend/problem/urls/oj.py
  backend/problem/views/oj.py
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/contest/children/ACMContestRank.vue
  frontend/src/pages/oj/views/contest/index.js
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/ProblemSubmission.vue
  frontend/src/pages/oj/views/rank/ACMRank.vue
  frontend/src/pages/oj/views/rank/OIRank.vue
  frontend/src/pages/oj/views/user/Grass.vue
  frontend/src/styles/common.less
Labels: documentation, enhancement, front, back

#103 [bugfix] grass tooltip & rejudge
  backend/judge/dispatcher.py
  backend/oj/production_settings.py
  backend/oj/settings.py
  frontend/src/pages/oj/views/user/Grass.vue
Labels: bug, enhancement, front, back

#104 [bugfix] excessive distributed call to rejudge
  frontend/src/pages/oj/views/submission/SubmissionList.vue
Labels: bug, front
